* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  color: #ffffff;
  padding: 0px 0px;
  font-family: 'BeVietnamPro-Medium';

}

.container {
  max-width: 1280px;

}

/* ====================================================component==================================================== */

.rs-body-btn {
  background-color: #F4F3fB;
  color: #7C3AED;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 8px;
  gap: 6px;
  height: max-content;
  width: max-content;

}


.rs-body-btn p {
  margin: 0;
  font-family: 'IBM Plex Mono';
  letter-spacing: 0.72px;

}

.rs-body-btn i {
  font-size: 6px;
}

.rs-body-btn:hover {
  background-color: #F4F3fB;
  color: #7C3AED;
}

.rs-head-btn {
  background-color: #1d064f;
  color: #ddd6fe;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 8px;
  gap: 6px;
  height: max-content;
  width: max-content;

}

.rs-head-btn p {
  margin: 0;
  font-family: 'IBM Plex Mono';
  letter-spacing: 0.72px;

}

.rs-head-btn i {
  font-size: 6px;
}

.rs-head-btn:hover {
  background-color: #1d064f;
  color: #ddd6fe;
}
/* ==================================navbar=================================== */

.navbar {
  /* position: fi; */
  background-color: #080019;
  padding: 16px 80px 0 80px;
}

nav {
  display: flex;
  gap: 16px;

}

/* */
.nav-link {
  color: #978AA1;
}

.navbar-brand {
  color: #ffffff;
  font-size: 20px;
  font-family: 'BeVietnamPro-Medium';

}

.navbar-brand:hover {
  color: #ffffff;
}


.nav-link:focus,
.nav-link:hover {
  color: #ffffff;
  transition: all 0.5 s;
}

.navbar-nav {
  gap: 32px;
}

nav .btn p {
  margin: 0;
}

nav .header-btn {
  color: #ffffff;
  font-size: 15px;
  border: 1px solid #514759;
  border-radius: 10px;
  padding: 8px 12px 8px 14px;
  gap: 10px;
  box-shadow: rgba(16, 24, 40, 0.05) 0px 1px 2px 0px;
}

.header-btn i {
  transform: rotate(-50deg);
}


/* ===========================================banner=========================================== */

.banner {
  background-color: #070018;
  padding: 96px 80px 120px 80px;
}



.banner-content {
  gap: 8px;
}

.banner-content h1 {
  font-size: 84px;
  letter-spacing: -3.36px;
  /* margin: 0 auto; */
  text-wrap: wrap;
  overflow-wrap: break-word;
  max-width: 65%;
  line-height: 100%;

}

.banner-info {
  gap: 24px;
}

.banner-info p {
  color: #9a91a1;
  max-width: 45%;
  font-size: 18px;
  letter-spacing: -0.36px;

}

.banner-demo-btn {
  margin-top: 26px;
  gap: 12px;
}

.demo-btn {

  background-color: #3E3AF2;
  color: #ffffff;
  height: max-content;
  width: max-content;
  gap: 6px;
  letter-spacing: -0.15px;
  padding: 12px 16px 12px 18px;
  border-radius: 10px;
  font-size: 15px;
}

.demo-btn:hover {

  background-color: #3E3AF2;
}

.demo-btn i {
  transform: rotate(-50deg);
  font-size: 13px;
}

.started-btn {
  border-color: #514759;
  height: max-content;
  width: max-content;
  padding: 12px 16px 12px 18px;
  border-radius: 10px;
  font-size: 15px;
  color: #ffffff;
}

.started-btn:hover {
  border-color: #514759;
  color: #ffffff;
}

.banner-details {
  gap: 100px;
}

.info-img img {
  height: 626px;
  width: 1216px;
}

.banner-teams {
  gap: 42px;
}


.banner-teams p {
  color: #F3F0F5;
  font-size: 18px;
}

.info-teams {
  gap: 40px;
}

.use-teams {
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 15%, rgb(0, 0, 0) 85%, rgba(0, 0, 0, 0) 100%);
}

.logo ul img {
  width: 164px;
  height: 41px;
}

/* =======================================================================features======================================================================= */

.features {
  padding: 96px 80px;
  background: linear-gradient(180deg, #ffffff 0%, rgba(245, 243, 251, 1) 100%);
}



.features h2 {
  font-size: 62px;
  letter-spacing: -2.48px;
  color: #1D054F;
  max-width: 65%;
  line-height: 62px;
}

.features-intro {
  gap: 24px;
}

.features-sec .features-content {
  font-size: 18px;
  color: #6B5B75;
  max-width: 40%;
  line-height: 130%;
  font-weight: 500;
  letter-spacing: -0.36px;
}

.features-btn-2 {
  border-color: rgb(218, 213, 222);
  color: #7C3AED;
  box-shadow: rgba(16, 24, 40, 0.05) 0px 1px 2px 0px;
  background-color: #ffffff;
  height: max-content;
  width: max-content;
  padding: 12px 16px 12px 18px;
  border-radius: 10px;
  font-size: 15px;
}


.features-btn-2:hover {
  border-color: rgb(218, 213, 222);
  color: #7C3AED;
}

.features-sec {
  gap: 80px;
}

.features-info-1 {
  background-color: #e1dde4;
  border-radius: 16px;
  gap: 8px;
  padding: 24px 80px 24px 24px;
}

.features-about {
  gap: 20px;
}

.f-card-head {
  color: #1D054F;
  font-size: 22px;
}

.f-card-body {
  color: #6B5E75;
  letter-spacing: -0.32px;
  font-size: 16px;
}

.f-learn-more {
  color: #070018;
  font-size: 15px;
  letter-spacing: -0.15px;
}

.f-learn-more:hover {
  cursor: pointer;
}

.f-ml-underline {
  border: 1px solid #6B7280;
  height: 1px;
  width: 80px;
}

.f-ml {
  gap: 7px;

}

.features-info-2 {
  border-radius: 16px;
  gap: 8px;
  padding: 24px 80px 24px 24px;
}

.features-info-3 {
  border-radius: 16px;
  gap: 8px;
  padding: 24px 80px 24px 24px;
}

.features-progress img {
  border-radius: 20px;

}

/* ====================================================customer-stories==================================================== */

.customer-stories {
  padding: 96px 80px;
}

.customer-stories h3 {
  font-size: 54px;
  color: #1D054F;
}

.cs-head {
  gap: 24px;
}

.cs-card {
  padding: 32px;
  border-radius: 24px;
  background-color: #f4f3fb;
  height: 515px;

}

.cs-card-head {
  font-size: 40px;
  color: #9a91a1;
  font-weight: 800;
  letter-spacing: 2px;


}

.fourx {
  color: #6f48fb;
  font-weight: 600;
  font-size: 80px;
}

.ft-launch {
  color: #6b5e75;
  font-size: 18px;
}

.cs-card-body {
  gap: 8px;
}

.client-img img {
  border-radius: 64px;
  height: 56px;
  width: 56px;
}

.client-name {
  color: #070119;
  letter-spacing: -0.32px;
}

.client-role {
  color: #6b5e75;
  font-size: 15px;
  font-weight: 400;
}

.cs-client-detail {
  gap: 16px;
}

.client-info {
  gap: 4px;
}

.cs-card-2 h2{
  color: #6b5e75; 
  letter-spacing: -0.6px;
  font-size: 32px;
}

.cs-card-3 h2{
  font-size: 30px;
  color: #74687e;
  letter-spacing: -0.15px;
  font-weight: 500;
}

.client-introduction{
  gap: 56px;
}

/* =================================================benefits================================================= */

.benefits{
  padding: 96px 80px;
  background-color: #070119;
}

.benefits h2{
  color: #F3F0F5;
  font-size: 62px;
  letter-spacing: -2.48px;
  /* max-width: 70%; */
  text-align: center;
  line-height: 62px;
}

.benefits-contain{
  font-size: 18px;
  color: #978AA1;
  letter-spacing: -0.36px;
}

.benefits .started-btn{
  background-color: #3E3AF2;
  letter-spacing: -0.15px;
}

.benefits .started-btn:hover{
  background-color: #3E3AF2;  
}

.benefits-details{
  gap: 32px;
}

.benefits-head{
  gap: 24px;
}